.detailsCls {
  .hotelHeader {
    .hotelName {
      font-size: 20px;
      color: white;
      font-weight: 600;
      margin-left: 40px;
    }
    height: 50px;
    background-color: #2196F3;
    line-height: 50px;
    .hotelRating {
      font-size: 15px;
      float: right;
      margin-right: 30px;
      .ux-rating-picker {
        line-height: 50px;
        margin-left: 10px;
      }
    }
  }
  .hotelStreet, .hotelPhone, .hotelOpenNow, .hotelWebsite {

    height: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }
  .hotelOpenNow {
    font-weight: bolder;
    cursor: pointer;
    &.true {
      color: green;
    }
    &.false {
      color: red;
    }
  }
  .item.x-view-item-focused {
    outline: none !important;
  }
  .hotelStreet {
    &:before {
      content: url('location_pin.png');
      margin-right: 10px;
    }
  }
  .hotelPhone {
    &:before {
      content: url('phone.png');
      margin-right: 10px;
    }
  }
  .hotelOpenNow {
    &:before {
      content: url('schedule.png');
      margin-right: 10px;
    }
  }
  .hotelWebsite {
    a {
      font-weight: 400;
      font-size: 13px;
      text-decoration: none;
      color: dodgerblue;
    }
    &:before {
      content: url('web.png');
      margin-right: 10px;
    }
  }
  .photoGallery {
    margin-top: 5px;
    margin-left: 7px;
    margin-right: 7px;
    img {
      margin: auto;
      width: 100%;
      height: 300px;
      object-fit: contain;
    }
  }

  .rightPanelCommentArea {
    margin-right: 7px;
    margin-left: 7px;
    .textAreaComment {
      margin-top: 10px;
    }
    .commentPanel {
      .item {
        margin-left: 5px;
        margin-top: 10px;
        .dateComment {
          display: block;
          margin-bottom: 5px;
        }
        .comment {
          word-wrap: break-word;
        }
      }
      .delimiterLine {
        color: #546E7A;
      }
    }
  }

}