.detailsCls {
  .hotelHeader {
    .hotelName {
      font-size: 20px;
      color: white;
      font-weight: 600;
      margin-left: 40px;
    }
    height: 50px;
    background-color: #2196F3;
    line-height: 50px;
  }
  .hotelStreet, .hotelPhone, .hotelOpenNow, .hotelWebsite {

    height: 20px;
    margin-left: 20px;
    margin-top: 15px;
  }
  .hotelOpenNow {
    font-weight: bolder;
    cursor: pointer;
    &.true {
      color: green;
    }
    &.false {
      color: red;
    }
  }
  .item.x-view-item-focused {
    outline: none !important;
  }
  .hotelStreet {
    &:before {
      content: url('location_pin.png');
      margin-right: 10px;
    }
  }
  .hotelPhone {
    &:before {
      content: url('phone.png');
      margin-right: 10px;
    }
  }
  .hotelOpenNow {
    &:before {
      content: url('schedule.png');
      margin-right: 10px;
    }
  }
  .hotelWebsite {
    &:before {
      content: url('web.png');
      margin-right: 10px;
    }
  }

}